**Libraries used**

In [34]:
import pandas as pd
import numpy as np

**reading csv file and loaded into df**

In [35]:
df=pd.read_csv('house_data.csv')

In [36]:
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0
5,7237550310,20140512T000000,1230000.0,4,4.50,5420,101930,1.0
6,1321400060,20140627T000000,257500.0,3,2.25,1715,6819,2.0
7,2008000270,20150115T000000,291850.0,3,1.50,1060,9711,1.0
8,2414600126,20150415T000000,229500.0,3,1.00,1780,7470,1.0
9,3793500160,20150312T000000,323000.0,3,2.50,1890,6560,2.0
10,1736800520,20150403T000000,662500.0,3,2.50,3560,9796,1.0
11,9212900260,20140527T000000,468000.0,2,1.00,1160,6000,1.0
12,114101516,20140528T000000,310000.0,3,1.00,1430,19901,1.5
13,6054650070,20141007T000000,400000.0,3,1.75,1370,9680,1.0
14,1175000570,20150312T000000,530000.0,5,2.00,1810,4850,1.5
15,9297300055,20150124T000000,650000.0,4,3.00,2950,5000,2.0
16,1875500060,20140731T000000,395000.0,3,2.00,1890,14040,2.0
17,6865200140,20140529T000000,485000.0,4,1.00,1600,4300,1.5
18,16000397,20141205T000000,189000.0,2,1.00,1200,9850,1.0
19,7983200060,20150424T000000,230000.0,3,1.00,1250,9774,1.0
20,6300500875,20140514T000000,385000.0,4,1.75,1620,4980,1.0
21,2524049179,20140826T000000,2000000.0,3,2.75,3050,44867,1.0
22,7137970340,20140703T000000,285000.0,5,2.50,2270,6300,2.0
23,8091400200,20140516T000000,252700.0,2,1.50,1070,9643,1.0
24,3814700200,20141120T000000,329000.0,3,2.25,2450,6500,2.0
25,1202000200,20141103T000000,233000.0,3,2.00,1710,4697,1.5
26,1794500383,20140626T000000,937000.0,3,1.75,2450,2691,2.0
27,3303700376,20141201T000000,667000.0,3,1.00,1400,1581,1.5
28,5101402488,20140624T000000,438000.0,3,1.75,1520,6380,1.0
29,1873100390,20150302T000000,719000.0,4,2.50,2570,7173,2.0
30,8562750320,20141110T000000,580500.0,3,2.50,2320,3980,2.0
31,2426039314,20141201T000000,280000.0,2,1.50,1190,1265,3.0
32,461000390,20140624T000000,687500.0,4,1.75,2330,5000,1.5
33,7589200193,20141110T000000,535000.0,3,1.00,1090,3000,1.5
34,7955080270,20141203T000000,322500.0,4,2.75,2060,6659,1.0
35,9547205180,20140613T000000,696000.0,3,2.50,2300,3060,1.5
36,9435300030,20140528T000000,550000.0,4,1.00,1660,34848,1.0
37,2768000400,20141230T000000,640000.0,4,2.00,2360,6000,2.0
38,7895500070,20150213T000000,240000.0,4,1.00,1220,8075,1.0
39,2078500320,20140620T000000,605000.0,4,2.50,2620,7553,2.0
40,5547700270,20140715T000000,625000.0,4,2.50,2570,5520,2.0
41,7766200013,20140811T000000,775000.0,4,2.25,4220,24186,1.0
42,7203220400,20140707T000000,861990.0,5,2.75,3595,5639,2.0
43,9270200160,20141028T000000,685000.0,3,1.00,1570,2280,2.0
44,1432701230,20140729T000000,309000.0,3,1.00,1280,9656,1.0
45,8035350320,20140718T000000,488000.0,3,2.50,3160,13603,2.0
46,8945200830,20150325T000000,210490.0,3,1.00,990,8528,1.0
47,4178300310,20140716T000000,785000.0,4,2.50,2290,13416,2.0
48,9215400105,20150428T000000,450000.0,3,1.75,1250,5963,1.0
49,822039084,20150311T000000,1350000.0,3,2.50,2753,65005,1.0
50,5245600105,20140916T000000,228000.0,3,1.00,1190,9199,1.0
51,7231300125,20150217T000000,345000.0,5,2.50,3150,9134,1.0
52,7518505990,20141231T000000,600000.0,3,1.75,1410,4080,1.0
53,3626039271,20150205T000000,585000.0,2,1.75,1980,8550,1.0
54,4217401195,20150303T000000,920000.0,5,2.25,2730,6000,1.5
55,9822700295,20140512T000000,885000.0,4,2.50,2830,5000,2.0
56,9478500640,20140819T000000,292500.0,4,2.50,2250,4495,2.0
57,2799800710,20150407T000000,301000.0,3,2.50,2420,4750,2.0
58,7922800400,20140827T000000,951000.0,5,3.25,3250,14342,2.0
59,8079040320,20150223T000000,430000.0,4,3.00,1850,9976,2.0
60,1516000055,20141210T000000,650000.0,3,2.25,2150,21235,1.0
61,9558200045,20140828T000000,289000.0,3,1.75,1260,8400,1.0
62,5072410070,20141021T000000,505000.0,3,1.75,2519,8690,2.0
63,9528102996,20141207T000000,549000.0,3,1.75,1540,1044,3.0
64,1189001180,20140603T000000,425000.0,3,2.25,1660,6000,1.0
65,3253500160,20141120T000000,317625.0,3,2.75,2770,3809,1.5
66,3394100030,20140909T000000,975000.0,4,2.50,2720,11049,2.0
67,3717000160,20141009T000000,287000.0,4,2.50,2240,4648,2.0
68,1274500060,20140825T000000,204000.0,3,1.00,1000,12070,1.0
69,1802000060,20140612T000000,1330000.0,5,2.25,3200,20158,1.0
70,1525059190,20140912T000000,1040000.0,5,3.25,4770,50094,1.0
71,1049000060,20150105T000000,325000.0,3,2.00,1260,5612,1.0
72,8820901275,20140610T000000,571000.0,4,2.00,2750,7807,1.5
73,5416510140,20140710T000000,360000.0,4,2.50,2380,5000,2.0
74,3444100400,20150316T000000,349000.0,3,1.75,1790,50529,1.0
75,3276920270,20141105T000000,832500.0,4,4.00,3430,35102,2.0
76,4036801170,20141013T000000,380000.0,4,1.75,1760,7300,1.0
77,2391600320,20150420T000000,480000.0,3,1.00,1040,5060,1.0
78,6300000287,20140609T000000,410000.0,3,1.00,1410,5060,1.0
79,1531000030,20150323T000000,720000.0,4,2.50,3450,39683,2.0
80,5104520400,20141202T000000,390000.0,3,2.50,2350,5100,2.0
81,7437100340,20141222T000000,360000.0,4,2.50,1900,5889,2.0
82,9418400240,20141028T000000,355000.0,2,1.00,2020,6720,1.0
83,1523059105,20150128T000000,356000.0,3,1.50,1680,8712,1.0
84,1133000671,20140602T000000,315000.0,3,1.00,960,6634,1.0
85,4232902595,20141114T000000,940000.0,3,1.50,2140,3600,2.0
86,2599001200,20141103T000000,305000.0,5,2.25,2660,8400,1.5
87,3342103156,20140618T000000,461000.0,3,3.25,2770,6278,2.0
88,1332700270,20140519T000000,215000.0,2,2.25,1610,2040,2.0
89,3869900162,20140904T000000,335000.0,2,1.75,1030,1066,2.0
90,2791500270,20140522T000000,243500.0,4,2.50,1980,7403,2.0
91,5036300431,20150311T000000,1100000.0,5,2.75,3520,6353,2.0
92,4168000060,20150226T000000,153000.0,3,1.00,1200,10500,1.0
93,6021501535,20140725T000000,430000.0,3,1.50,1580,5000,1.0
94,6021501535,20141223T000000,700000.0,3,1.50,1580,5000,1.0
95,1483300570,20140908T000000,905000.0,4,2.50,3300,10250,1.0
96,3422049190,20150330T000000,247500.0,3,1.75,1960,15681,1.0
97,1099611230,20140912T000000,199000.0,4,1.50,1160,6400,1.0
98,722079104,20140711T000000,314000.0,3,1.75,1810,41800,1.0

In [29]:
data={'id':[0,1],'date':['20141023T000000','20140813T000000'],
       'price':['20000.0','23230.0'],'bedrooms':[4,3],'bathrooms':['2.25','3.00'],'sqrt_living':['2560','1112'],
         'sqrt_lot':['3422','5643'],'floors':['2.0','1.0']}
df=pd.DataFrame(data)

In [30]:
df

,id,date,price,bedrooms,bathrooms,sqrt_living,sqrt_lot,floors
0,0,20141023T000000,20000.0,4,2.25,2560,3422,2.0
1,1,20140813T000000,23230.0,3,3.00,1112,5643,1.0

In [37]:
df.shape

(99, 8)

In [38]:
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors
count,9.900000e+01,9.900000e+01,99.000000,99.000000,99.000000,99.000000,99.000000
mean,4.664620e+09,5.200763e+05,3.404040,1.989899,2086.383838,11478.818182,1.464646
std,2.935212e+09,3.061939e+05,0.794358,0.729236,864.592421,14655.249813,0.511363
min,1.600040e+07,1.530000e+05,2.000000,1.000000,770.000000,1044.000000,1.000000
25%,1.914950e+09,3.070000e+05,3.000000,1.500000,1410.000000,5000.000000,1.000000
50%,4.036801e+09,4.300000e+05,3.000000,2.000000,1900.000000,6720.000000,1.500000
75%,7.337325e+09,6.562500e+05,4.000000,2.500000,2570.000000,9823.000000,2.000000
max,9.822700e+09,2.000000e+06,5.000000,4.500000,5420.000000,101930.000000,3.000000

In [39]:
df.info()  #general info about data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           99 non-null     int64
 1   date         99 non-null     object
 2   price        99 non-null     float64
 3   bedrooms     99 non-null     int64
 4   bathrooms    99 non-null     float64
 5   sqft_living  99 non-null     int64
 6   sqft_lot     99 non-null     int64
 7   floors       99 non-null     float64
dtypes: float64(3), int64(4), object(1)
memory usage: 6.3+ KB

In [40]:
df.head(5)  #top 5 elements

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0

In [41]:
df.tail(5)   #last 5 elements

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors
94,6021501535,20141223T000000,700000.0,3,1.50,1580,5000,1.0
95,1483300570,20140908T000000,905000.0,4,2.50,3300,10250,1.0
96,3422049190,20150330T000000,247500.0,3,1.75,1960,15681,1.0
97,1099611230,20140912T000000,199000.0,4,1.50,1160,6400,1.0
98,722079104,20140711T000000,314000.0,3,1.75,1810,41800,1.0

In [42]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors'],
      dtype='object')

In [43]:
df['date']

0     20141013T000000
1     20141209T000000
2     20150225T000000
3     20141209T000000
4     20150218T000000
5     20140512T000000
6     20140627T000000
7     20150115T000000
8     20150415T000000
9     20150312T000000
10    20150403T000000
11    20140527T000000
12    20140528T000000
13    20141007T000000
14    20150312T000000
15    20150124T000000
16    20140731T000000
17    20140529T000000
18    20141205T000000
19    20150424T000000
20    20140514T000000
21    20140826T000000
22    20140703T000000
23    20140516T000000
24    20141120T000000
25    20141103T000000
26    20140626T000000
27    20141201T000000
28    20140624T000000
29    20150302T000000
30    20141110T000000
31    20141201T000000
32    20140624T000000
33    20141110T000000
34    20141203T000000
35    20140613T000000
36    20140528T000000
37    20141230T000000
38    20150213T000000
39    20140620T000000
40    20140715T000000
41    20140811T000000
42    20140707T000000
43    20141028T000000
44    20140729T000000
45    20140718T000000
46    20150325T000000
47    20140716T000000
48    20150428T000000
49    20150311T000000
50    20140916T000000
51    20150217T000000
52    20141231T000000
53    20150205T000000
54    20150303T000000
55    20140512T000000
56    20140819T000000
57    20150407T000000
58    20140827T000000
59    20150223T000000
60    20141210T000000
61    20140828T000000
62    20141021T000000
63    20141207T000000
64    20140603T000000
65    20141120T000000
66    20140909T000000
67    20141009T000000
68    20140825T000000
69    20140612T000000
70    20140912T000000
71    20150105T000000
72    20140610T000000
73    20140710T000000
74    20150316T000000
75    20141105T000000
76    20141013T000000
77    20150420T000000
78    20140609T000000
79    20150323T000000
80    20141202T000000
81    20141222T000000
82    20141028T000000
83    20150128T000000
84    20140602T000000
85    20141114T000000
86    20141103T000000
87    20140618T000000
88    20140519T000000
89    20140904T000000
90    20140522T000000
91    20150311T000000
92    20150226T000000
93    20140725T000000
94    20141223T000000
95    20140908T000000
96    20150330T000000
97    20140912T000000
98    20140711T000000
Name: date, dtype: object

In [45]:
df[['date','price']]

               date      price
0   20141013T000000   221900.0
1   20141209T000000   538000.0
2   20150225T000000   180000.0
3   20141209T000000   604000.0
4   20150218T000000   510000.0
5   20140512T000000  1230000.0
6   20140627T000000   257500.0
7   20150115T000000   291850.0
8   20150415T000000   229500.0
9   20150312T000000   323000.0
10  20150403T000000   662500.0
11  20140527T000000   468000.0
12  20140528T000000   310000.0
13  20141007T000000   400000.0
14  20150312T000000   530000.0
15  20150124T000000   650000.0
16  20140731T000000   395000.0
17  20140529T000000   485000.0
18  20141205T000000   189000.0
19  20150424T000000   230000.0
20  20140514T000000   385000.0
21  20140826T000000  2000000.0
22  20140703T000000   285000.0
23  20140516T000000   252700.0
24  20141120T000000   329000.0
25  20141103T000000   233000.0
26  20140626T000000   937000.0
27  20141201T000000   667000.0
28  20140624T000000   438000.0
29  20150302T000000   719000.0
30  20141110T000000   580500.0
31  20141201T000000   280000.0
32  20140624T000000   687500.0
33  20141110T000000   535000.0
34  20141203T000000   322500.0
35  20140613T000000   696000.0
36  20140528T000000   550000.0
37  20141230T000000   640000.0
38  20150213T000000   240000.0
39  20140620T000000   605000.0
40  20140715T000000   625000.0
41  20140811T000000   775000.0
42  20140707T000000   861990.0
43  20141028T000000   685000.0
44  20140729T000000   309000.0
45  20140718T000000   488000.0
46  20150325T000000   210490.0
47  20140716T000000   785000.0
48  20150428T000000   450000.0
49  20150311T000000  1350000.0
50  20140916T000000   228000.0
51  20150217T000000   345000.0
52  20141231T000000   600000.0
53  20150205T000000   585000.0
54  20150303T000000   920000.0
55  20140512T000000   885000.0
56  20140819T000000   292500.0
57  20150407T000000   301000.0
58  20140827T000000   951000.0
59  20150223T000000   430000.0
60  20141210T000000   650000.0
61  20140828T000000   289000.0
62  20141021T000000   505000.0
63  20141207T000000   549000.0
64  20140603T000000   425000.0
65  20141120T000000   317625.0
66  20140909T000000   975000.0
67  20141009T000000   287000.0
68  20140825T000000   204000.0
69  20140612T000000  1330000.0
70  20140912T000000  1040000.0
71  20150105T000000   325000.0
72  20140610T000000   571000.0
73  20140710T000000   360000.0
74  20150316T000000   349000.0
75  20141105T000000   832500.0
76  20141013T000000   380000.0
77  20150420T000000   480000.0
78  20140609T000000   410000.0
79  20150323T000000   720000.0
80  20141202T000000   390000.0
81  20141222T000000   360000.0
82  20141028T000000   355000.0
83  20150128T000000   356000.0
84  20140602T000000   315000.0
85  20141114T000000   940000.0
86  20141103T000000   305000.0
87  20140618T000000   461000.0
88  20140519T000000   215000.0
89  20140904T000000   335000.0
90  20140522T000000   243500.0
91  20150311T000000  1100000.0
92  20150226T000000   153000.0
93  20140725T000000   430000.0
94  20141223T000000   700000.0
95  20140908T000000   905000.0
96  20150330T000000   247500.0
97  20140912T000000   199000.0
98  20140711T000000   314000.0

In [47]:
df.price.max()

2000000.0

In [48]:
df.price.min()

153000.0

In [50]:
df.price.mean()

520076.31313131313

In [52]:
df.fillna(0,inplace=True)
df.price.mean()

520076.31313131313

In [53]:
df['floors'].replace(to_replace = np.nan, value = 0, inplace = True)

In [55]:
df.floors.isnull().sum()

0

In [56]:
df.floors.count()

99

In [57]:
df.bedrooms.unique()

array([3, 2, 4, 5], dtype=int64)

In [60]:
df.loc[5]

id                  7237550310
date           20140512T000000
price                 1.23e+06
bedrooms                     4
bathrooms                  4.5
sqft_living               5420
sqft_lot                101930
floors                       1
Name: 5, dtype: object

In [61]:
df.set_index('id')

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors
id,,,,,,,
7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0
6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0
5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0
2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0
1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0
7237550310,20140512T000000,1230000.0,4,4.50,5420,101930,1.0
1321400060,20140627T000000,257500.0,3,2.25,1715,6819,2.0
2008000270,20150115T000000,291850.0,3,1.50,1060,9711,1.0
2414600126,20150415T000000,229500.0,3,1.00,1780,7470,1.0
3793500160,20150312T000000,323000.0,3,2.50,1890,6560,2.0
1736800520,20150403T000000,662500.0,3,2.50,3560,9796,1.0
9212900260,20140527T000000,468000.0,2,1.00,1160,6000,1.0
114101516,20140528T000000,310000.0,3,1.00,1430,19901,1.5
6054650070,20141007T000000,400000.0,3,1.75,1370,9680,1.0
1175000570,20150312T000000,530000.0,5,2.00,1810,4850,1.5
9297300055,20150124T000000,650000.0,4,3.00,2950,5000,2.0
1875500060,20140731T000000,395000.0,3,2.00,1890,14040,2.0
6865200140,20140529T000000,485000.0,4,1.00,1600,4300,1.5
16000397,20141205T000000,189000.0,2,1.00,1200,9850,1.0
7983200060,20150424T000000,230000.0,3,1.00,1250,9774,1.0
6300500875,20140514T000000,385000.0,4,1.75,1620,4980,1.0
2524049179,20140826T000000,2000000.0,3,2.75,3050,44867,1.0
7137970340,20140703T000000,285000.0,5,2.50,2270,6300,2.0
8091400200,20140516T000000,252700.0,2,1.50,1070,9643,1.0
3814700200,20141120T000000,329000.0,3,2.25,2450,6500,2.0
1202000200,20141103T000000,233000.0,3,2.00,1710,4697,1.5
1794500383,20140626T000000,937000.0,3,1.75,2450,2691,2.0
3303700376,20141201T000000,667000.0,3,1.00,1400,1581,1.5
5101402488,20140624T000000,438000.0,3,1.75,1520,6380,1.0
1873100390,20150302T000000,719000.0,4,2.50,2570,7173,2.0
8562750320,20141110T000000,580500.0,3,2.50,2320,3980,2.0
2426039314,20141201T000000,280000.0,2,1.50,1190,1265,3.0
461000390,20140624T000000,687500.0,4,1.75,2330,5000,1.5
7589200193,20141110T000000,535000.0,3,1.00,1090,3000,1.5
7955080270,20141203T000000,322500.0,4,2.75,2060,6659,1.0
9547205180,20140613T000000,696000.0,3,2.50,2300,3060,1.5
9435300030,20140528T000000,550000.0,4,1.00,1660,34848,1.0
2768000400,20141230T000000,640000.0,4,2.00,2360,6000,2.0
7895500070,20150213T000000,240000.0,4,1.00,1220,8075,1.0
2078500320,20140620T000000,605000.0,4,2.50,2620,7553,2.0
5547700270,20140715T000000,625000.0,4,2.50,2570,5520,2.0
7766200013,20140811T000000,775000.0,4,2.25,4220,24186,1.0
7203220400,20140707T000000,861990.0,5,2.75,3595,5639,2.0
9270200160,20141028T000000,685000.0,3,1.00,1570,2280,2.0
1432701230,20140729T000000,309000.0,3,1.00,1280,9656,1.0
8035350320,20140718T000000,488000.0,3,2.50,3160,13603,2.0
8945200830,20150325T000000,210490.0,3,1.00,990,8528,1.0
4178300310,20140716T000000,785000.0,4,2.50,2290,13416,2.0
9215400105,20150428T000000,450000.0,3,1.75,1250,5963,1.0
822039084,20150311T000000,1350000.0,3,2.50,2753,65005,1.0
5245600105,20140916T000000,228000.0,3,1.00,1190,9199,1.0
7231300125,20150217T000000,345000.0,5,2.50,3150,9134,1.0
7518505990,20141231T000000,600000.0,3,1.75,1410,4080,1.0
3626039271,20150205T000000,585000.0,2,1.75,1980,8550,1.0
4217401195,20150303T000000,920000.0,5,2.25,2730,6000,1.5
9822700295,20140512T000000,885000.0,4,2.50,2830,5000,2.0
9478500640,20140819T000000,292500.0,4,2.50,2250,4495,2.0
2799800710,20150407T000000,301000.0,3,2.50,2420,4750,2.0
7922800400,20140827T000000,951000.0,5,3.25,3250,14342,2.0
8079040320,20150223T000000,430000.0,4,3.00,1850,9976,2.0
1516000055,20141210T000000,650000.0,3,2.25,2150,21235,1.0
9558200045,20140828T000000,289000.0,3,1.75,1260,8400,1.0
5072410070,20141021T000000,505000.0,3,1.75,2519,8690,2.0
9528102996,20141207T000000,549000.0,3,1.75,1540,1044,3.0
1189001180,20140603T000000,425000.0,3,2.25,1660,6000,1.0
3253500160,20141120T000000,317625.0,3,2.75,2770,3809,1.5
3394100030,20140909T000000,975000.0,4,2.50,2720,11049,2.0
3717000160,20141009T000000,287000.0,4,2.50,2240,4648,2.0
1274500060,20140825T000000,204000.0,3,1.00,1000,12070,1.0
1802000060,20140612T000000,1330000.0,5,2.25,3200,20158,1.0
1525059190,20140912T000000,1040000.0,5,3.25,4770,50094,1.0
1049000060,20150105T000000,325000.0,3,2.00,1260,5612,1.0
8820901275,20140610T000000,571000.0,4,2.00,2750,7807,1.5
5416510140,20140710T000000,360000.0,4,2.50,2380,5000,2.0
3444100400,20150316T000000,349000.0,3,1.75,1790,50529,1.0
3276920270,20141105T000000,832500.0,4,4.00,3430,35102,2.0
4036801170,20141013T000000,380000.0,4,1.75,1760,7300,1.0
2391600320,20150420T000000,480000.0,3,1.00,1040,5060,1.0
6300000287,20140609T000000,410000.0,3,1.00,1410,5060,1.0
1531000030,20150323T000000,720000.0,4,2.50,3450,39683,2.0
5104520400,20141202T000000,390000.0,3,2.50,2350,5100,2.0
7437100340,20141222T000000,360000.0,4,2.50,1900,5889,2.0
9418400240,20141028T000000,355000.0,2,1.00,2020,6720,1.0
1523059105,20150128T000000,356000.0,3,1.50,1680,8712,1.0
1133000671,20140602T000000,315000.0,3,1.00,960,6634,1.0
4232902595,20141114T000000,940000.0,3,1.50,2140,3600,2.0
2599001200,20141103T000000,305000.0,5,2.25,2660,8400,1.5
3342103156,20140618T000000,461000.0,3,3.25,2770,6278,2.0
1332700270,20140519T000000,215000.0,2,2.25,1610,2040,2.0
3869900162,20140904T000000,335000.0,2,1.75,1030,1066,2.0
2791500270,20140522T000000,243500.0,4,2.50,1980,7403,2.0
5036300431,20150311T000000,1100000.0,5,2.75,3520,6353,2.0
4168000060,20150226T000000,153000.0,3,1.00,1200,10500,1.0
6021501535,20140725T000000,430000.0,3,1.50,1580,5000,1.0
6021501535,20141223T000000,700000.0,3,1.50,1580,5000,1.0
1483300570,20140908T000000,905000.0,4,2.50,3300,10250,1.0
3422049190,20150330T000000,247500.0,3,1.75,1960,15681,1.0
1099611230,20140912T000000,199000.0,4,1.50,1160,6400,1.0
722079104,20140711T000000,314000.0,3,1.75,1810,41800,1.0

In [62]:
df.reset_index()

,index,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors
0,0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0
1,1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0
2,2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0
3,3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0
4,4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0
5,5,7237550310,20140512T000000,1230000.0,4,4.50,5420,101930,1.0
6,6,1321400060,20140627T000000,257500.0,3,2.25,1715,6819,2.0
7,7,2008000270,20150115T000000,291850.0,3,1.50,1060,9711,1.0
8,8,2414600126,20150415T000000,229500.0,3,1.00,1780,7470,1.0
9,9,3793500160,20150312T000000,323000.0,3,2.50,1890,6560,2.0
10,10,1736800520,20150403T000000,662500.0,3,2.50,3560,9796,1.0
11,11,9212900260,20140527T000000,468000.0,2,1.00,1160,6000,1.0
12,12,114101516,20140528T000000,310000.0,3,1.00,1430,19901,1.5
13,13,6054650070,20141007T000000,400000.0,3,1.75,1370,9680,1.0
14,14,1175000570,20150312T000000,530000.0,5,2.00,1810,4850,1.5
15,15,9297300055,20150124T000000,650000.0,4,3.00,2950,5000,2.0
16,16,1875500060,20140731T000000,395000.0,3,2.00,1890,14040,2.0
17,17,6865200140,20140529T000000,485000.0,4,1.00,1600,4300,1.5
18,18,16000397,20141205T000000,189000.0,2,1.00,1200,9850,1.0
19,19,7983200060,20150424T000000,230000.0,3,1.00,1250,9774,1.0
20,20,6300500875,20140514T000000,385000.0,4,1.75,1620,4980,1.0
21,21,2524049179,20140826T000000,2000000.0,3,2.75,3050,44867,1.0
22,22,7137970340,20140703T000000,285000.0,5,2.50,2270,6300,2.0
23,23,8091400200,20140516T000000,252700.0,2,1.50,1070,9643,1.0
24,24,3814700200,20141120T000000,329000.0,3,2.25,2450,6500,2.0
25,25,1202000200,20141103T000000,233000.0,3,2.00,1710,4697,1.5
26,26,1794500383,20140626T000000,937000.0,3,1.75,2450,2691,2.0
27,27,3303700376,20141201T000000,667000.0,3,1.00,1400,1581,1.5
28,28,5101402488,20140624T000000,438000.0,3,1.75,1520,6380,1.0
29,29,1873100390,20150302T000000,719000.0,4,2.50,2570,7173,2.0
30,30,8562750320,20141110T000000,580500.0,3,2.50,2320,3980,2.0
31,31,2426039314,20141201T000000,280000.0,2,1.50,1190,1265,3.0
32,32,461000390,20140624T000000,687500.0,4,1.75,2330,5000,1.5
33,33,7589200193,20141110T000000,535000.0,3,1.00,1090,3000,1.5
34,34,7955080270,20141203T000000,322500.0,4,2.75,2060,6659,1.0
35,35,9547205180,20140613T000000,696000.0,3,2.50,2300,3060,1.5
36,36,9435300030,20140528T000000,550000.0,4,1.00,1660,34848,1.0
37,37,2768000400,20141230T000000,640000.0,4,2.00,2360,6000,2.0
38,38,7895500070,20150213T000000,240000.0,4,1.00,1220,8075,1.0
39,39,2078500320,20140620T000000,605000.0,4,2.50,2620,7553,2.0
40,40,5547700270,20140715T000000,625000.0,4,2.50,2570,5520,2.0
41,41,7766200013,20140811T000000,775000.0,4,2.25,4220,24186,1.0
42,42,7203220400,20140707T000000,861990.0,5,2.75,3595,5639,2.0
43,43,9270200160,20141028T000000,685000.0,3,1.00,1570,2280,2.0
44,44,1432701230,20140729T000000,309000.0,3,1.00,1280,9656,1.0
45,45,8035350320,20140718T000000,488000.0,3,2.50,3160,13603,2.0
46,46,8945200830,20150325T000000,210490.0,3,1.00,990,8528,1.0
47,47,4178300310,20140716T000000,785000.0,4,2.50,2290,13416,2.0
48,48,9215400105,20150428T000000,450000.0,3,1.75,1250,5963,1.0
49,49,822039084,20150311T000000,1350000.0,3,2.50,2753,65005,1.0
50,50,5245600105,20140916T000000,228000.0,3,1.00,1190,9199,1.0
51,51,7231300125,20150217T000000,345000.0,5,2.50,3150,9134,1.0
52,52,7518505990,20141231T000000,600000.0,3,1.75,1410,4080,1.0
53,53,3626039271,20150205T000000,585000.0,2,1.75,1980,8550,1.0
54,54,4217401195,20150303T000000,920000.0,5,2.25,2730,6000,1.5
55,55,9822700295,20140512T000000,885000.0,4,2.50,2830,5000,2.0
56,56,9478500640,20140819T000000,292500.0,4,2.50,2250,4495,2.0
57,57,2799800710,20150407T000000,301000.0,3,2.50,2420,4750,2.0
58,58,7922800400,20140827T000000,951000.0,5,3.25,3250,14342,2.0
59,59,8079040320,20150223T000000,430000.0,4,3.00,1850,9976,2.0
60,60,1516000055,20141210T000000,650000.0,3,2.25,2150,21235,1.0
61,61,9558200045,20140828T000000,289000.0,3,1.75,1260,8400,1.0
62,62,5072410070,20141021T000000,505000.0,3,1.75,2519,8690,2.0
63,63,9528102996,20141207T000000,549000.0,3,1.75,1540,1044,3.0
64,64,1189001180,20140603T000000,425000.0,3,2.25,1660,6000,1.0
65,65,3253500160,20141120T000000,317625.0,3,2.75,2770,3809,1.5
66,66,3394100030,20140909T000000,975000.0,4,2.50,2720,11049,2.0
67,67,3717000160,20141009T000000,287000.0,4,2.50,2240,4648,2.0
68,68,1274500060,20140825T000000,204000.0,3,1.00,1000,12070,1.0
69,69,1802000060,20140612T000000,1330000.0,5,2.25,3200,20158,1.0
70,70,1525059190,20140912T000000,1040000.0,5,3.25,4770,50094,1.0
71,71,1049000060,20150105T000000,325000.0,3,2.00,1260,5612,1.0
72,72,8820901275,20140610T000000,571000.0,4,2.00,2750,7807,1.5
73,73,5416510140,20140710T000000,360000.0,4,2.50,2380,5000,2.0
74,74,3444100400,20150316T000000,349000.0,3,1.75,1790,50529,1.0
75,75,3276920270,20141105T000000,832500.0,4,4.00,3430,35102,2.0
76,76,4036801170,20141013T000000,380000.0,4,1.75,1760,7300,1.0
77,77,2391600320,20150420T000000,480000.0,3,1.00,1040,5060,1.0
78,78,6300000287,20140609T000000,410000.0,3,1.00,1410,5060,1.0
79,79,1531000030,20150323T000000,720000.0,4,2.50,3450,39683,2.0
80,80,5104520400,20141202T000000,390000.0,3,2.50,2350,5100,2.0
81,81,7437100340,20141222T000000,360000.0,4,2.50,1900,5889,2.0
82,82,9418400240,20141028T000000,355000.0,2,1.00,2020,6720,1.0
83,83,1523059105,20150128T000000,356000.0,3,1.50,1680,8712,1.0
84,84,1133000671,20140602T000000,315000.0,3,1.00,960,6634,1.0
85,85,4232902595,20141114T000000,940000.0,3,1.50,2140,3600,2.0
86,86,2599001200,20141103T000000,305000.0,5,2.25,2660,8400,1.5
87,87,3342103156,20140618T000000,461000.0,3,3.25,2770,6278,2.0
88,88,1332700270,20140519T000000,215000.0,2,2.25,1610,2040,2.0
89,89,3869900162,20140904T000000,335000.0,2,1.75,1030,1066,2.0
90,90,2791500270,20140522T000000,243500.0,4,2.50,1980,7403,2.0
91,91,5036300431,20150311T000000,1100000.0,5,2.75,3520,6353,2.0
92,92,4168000060,20150226T000000,153000.0,3,1.00,1200,10500,1.0
93,93,6021501535,20140725T000000,430000.0,3,1.50,1580,5000,1.0
94,94,6021501535,20141223T000000,700000.0,3,1.50,1580,5000,1.0
95,95,1483300570,20140908T000000,905000.0,4,2.50,3300,10250,1.0
96,96,3422049190,20150330T000000,247500.0,3,1.75,1960,15681,1.0
97,97,1099611230,20140912T000000,199000.0,4,1.50,1160,6400,1.0
98,98,722079104,20140711T000000,314000.0,3,1.75,1810,41800,1.0

In [63]:
df.rename(columns={'date':'Dates'},inplace=True)

In [64]:
df.head()

,id,Dates,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0

**one hat Encoding**

In [65]:
dummies=pd.get_dummies(df.bedrooms)

In [66]:
df = pd.concat([df,dummies],axis='columns')

In [67]:
df.head()

,id,Dates,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,2,3,4,5
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,1,0,0
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,1,0,0
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,1,0,0,0
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,1,0
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,1,0,0

In [68]:
df=df.drop(['bathrooms'],axis='columns')

**Spliting using pandas**

In [72]:
df1=df.copy()

In [75]:
House_data=df1.sample(frac=0.75,random_state=1)
test=df1.drop(House_data.index)

In [77]:
test.count()

id             25
Dates          25
price          25
bedrooms       25
sqft_living    25
sqft_lot       25
floors         25
2              25
3              25
4              25
5              25
dtype: int64

In [78]:
House_data.count()

id             74
Dates          74
price          74
bedrooms       74
sqft_living    74
sqft_lot       74
floors         74
2              74
3              74
4              74
5              74
dtype: int64

**Spliting using Scikit-Learn**

In [79]:
from sklearn.model_selection import train_test_split

In [85]:
x,y=np.arange(15).reshape((5,3)),range(5)

In [86]:
 x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

In [87]:
x_train

array([[ 6,  7,  8],
       [ 0,  1,  2],
       [ 9, 10, 11]])

In [88]:
y_train

[2, 0, 3]

In [89]:
train_test_split(y, shuffle=False)

[[0, 1, 2], [3, 4]]